 {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

/* font */

@font-face {
  font-family: "cigra";
  src: url("font/cigra_free_demo-webfont.woff2") format("woff2"),
    url("font/cigra_free_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "circular";
  src: url("font/circularstd-bold-webfont.woff2") format("woff2"),
    url("font/circularstd-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

html {
  overflow: auto;
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
  background: #fff5e7;
}

.Navbar {
  position: fixed;
  text-decoration: none;
  top: 1em;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  z-index: 5;
  background: #fff5e7;
}

.NavElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  margin-top: 25px;
  font-family: "circular";
  font-size: 25px;
  text-decoration: none;

  color: #f0f0f0;
}

.NavCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 30%;
}

.scheda {
  display: flex;
  justify-content: flex-start;
  margin: 10px 30px;
  justify-content: center;
}

.titolo {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;

  font-size: 40px;
  text-transform: uppercase;
  font-family: cigra;
}

.opera {
  width: 50%;
  font-family: circular;
}

.testo {
  width: 50%;
}

.testo p {
  font-family: "circular";
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;

  line-height: 135%;
  text-decoration: none;
}

.opera img {
  height: auto;
  width: 100%;
  margin: 20px;
  background-color: none;
}

.indietro {
  display: flex;
}

.indietro a {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: circular;
  border: 3px solid #1d1d1d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.indietro a:hover {
  background-color: #1d1d1d;
  cursor: pointer;
}

.indietro a:hover h2 {
  text-decoration: none;
  color: #fff5e7;
}

.space1 {
  height: 100px;
  width: 100%;
}

.space {
  height: 200px;
  width: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  margin-top: auto;
  background-color: #fff5e7;

  color: #1d1d1d;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
}

.column {
  float: left;
  width: 33.33%;
  font-family: "circular";
  font-size: 12px;
  text-decoration: none;
}

.column p {
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .scheda {
    width: 100%;
    display: grid;
    margin: 0px;
    margin-bottom: 20px;
    justify-content: center;
    justify-items: center;
  }
  .opera {
    width: 90%;
  }

  .opera img {
    height: auto;
    margin: 0;
    width: 100%;
    object-fit: cover;
    background-color: none;
  }

  .testo {
    width: 100%;
  }

  .footer column {
    width: 100%;
    font-size: 12px;
  }
 
}

@media screen and (max-width: 1200px) {
  .NavElement {
    font-size: 30px;
  }
  .NavCenter {
    font-size: 15px;
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .NavElement {
    font-size: 20px;
  }

  .NavCenter {
    font-size: 12px;
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .footer column {
    width: 100%;
    font-size: 12px;
  }
}
